.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    .container{
        height: 100%;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        z-index: 1;
    }
    .banner-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
    .banner-content{
        position: relative;
        z-index: 2;
    }
    h2{
        font-size: 14px;
        letter-spacing: 2px;
        padding-left: 10px;
        color: rgba($color: #fff, $alpha: 0.6);
        text-transform: uppercase;
        position: relative;
        z-index: 9;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $first_color;

        }
    }
    h1{
        font-size: 60px;
        color: #fff;
        margin-bottom: 10px;
    }
    // .imdb-rating{
    //     border: 3px solid #fff;
    //     border-radius: 50%;
    //     width: 50px;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     color: #fff;
    //     font-weight: 600;
    // }
    .content{
        color: #fff;
        width: 60%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    button{
        @include button;
    }
}
